* {
    font-family: roboto, arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    position: fixed;
    width: 100vw;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    width: 25vw;
}

ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.body-a {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    align-items: center;
}

.a-sub {
    height: 400px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-placeholder {
    height: 180px;
    width: 30vw;
    background-color: #a0a0a0;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-weight: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.b-sub-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.b-sub-2 {
    width: 15vw;

}

.placeholder {
    height: 180px;
    width: 15vw;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.info-text {
    color: #a0a0a0;
    text-align: center;
    font-size: 18px;
    margin-top: 4px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    height: 24px;
    width: 100px;
    border-radius: 4px;
}

.hero-button {
    border-style: none;
}

.wb {
    border-color: #f9faf8;
    border-style: solid;
}

.sign-up {
    background-color: #3882f6;
}